ion-tabs.tabs-icon-top.tabs-color-active-positive
  ion-tab(title='Login' icon='icon ion-home', href='#/tab/login')
    ion-nav-view(name='tab-login')
  //- ion-tab(title='Friends', icon='icon ion-heart', href='#/tab/friends')
  //-   ion-nav-view(name='tab-friends')
  //- ion-tab(title='Account', icon='icon ion-gear-b', href='#/tab/account')
  //-   ion-nav-view(name='tab-account')
